<% include partials/header %>

 <h1>You love: <%= artist %></h1>
    <% if (artist.toLowerCase() === "daftpunk") { %>
    <p>Good Choice!!</p> 
    <% } %>
 <p>This is coming from the music.ejs file</p>   
          
<% include partials/footer %>


